.wedding-party-area {
    background: rgba(178, 201, 211, 0.1);
    padding-bottom: 100px !important;
}

.wedding-party-item {
    padding-top: 50px;
}

.wedding-party-wrap {
    margin-bottom: 30px;
    overflow: hidden;
    z-index: -1;
}

.wedding-party-item2 {
    padding-top: 50px;
}

.wedding-party-img {
    position: relative;
    overflow: hidden;
}

.wedding-party-img img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    /* width: 260px; */
    height: 400px;
    object-fit: cover;
}

.wedding-party-wrap:hover .wedding-party-img img {
    -webkit-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    transform: scale(1.2) rotate(5deg);
}

.social-list {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 1;
    opacity: 0;
    text-align: center;
    transition: all 0.5s;
}

.wedding-party-wrap {
    overflow: hidden;
    /* border-top-left-radius: 80px;
    border-bottom-right-radius: 80px; */
}
.wedding-party-wrap-2 {
    border-radius: 0;
    /* border-top-right-radius: 80px;
    border-bottom-left-radius: 80px; */
}

.wedding-party-wrap:hover .social-list {
    opacity: 1;
}

.social-list ul {
    display: flex;
    justify-content: center;
    z-index: 1;
    list-style: none;
    padding-left: 0;
}

.social-list ul li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    z-index: -1;
    background: #b2c9d3;
    transition: all 0.3s;
    border-radius: 50%;
}

.social-list ul li:hover {
    background: #fff;
    color: #333;
}

.social-list ul li a {
    color: #fff;
    transition: all 0.3s;
}

.social-list ul li:hover a {
    color: #b2c9d3;
}

.wedding-party-content {
    text-align: center;
    background: #fff;
    padding: 15px 0 18px;
}
.wedding-party-content h4 {
    font-size: 18px;
    color: #151515;
    font-weight: 600;
}

.wedding-party-content span {
    font-size: 15px;
    font-weight: 400;
}

.wedding-party-title {
    border-bottom: 2px solid #649e93;
    margin-bottom: 30px;
}

.wedding-party-title h3 {
    padding: 5px 50px;
    background: #649e93;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-size: 40px;
    font-family: "Great Vibes", cursive;
}

@media (max-width: 992px) {
    .wedding-party-img img {
        width: 100%;
    }
}
