.gallery-section {
    background: rgba(178, 201, 211, 0.1);
}

.gallery-img {
    cursor: pointer;
    margin-bottom: 30px;
    overflow: hidden;
}

.thumbnail {
    transform: scale(1);
    overflow: hidden;
    transition: all 0.3s;
}

.gallery-img:hover a img {
    transform: scale(1.1);
}

.image-box img {
    object-fit: cover;
}

.gallery-img {
    height: 350px;
    overflow: hidden;
}

.gallery-img .box .image-box {
    width: 30%;
}
