.site-footer {
    background: url(../../images/slider/wedding-bridge.jpg) no-repeat center
        center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 120px 0;
    position: relative;
    overflow: hidden;
}

.site-footer .text {
    text-align: center;
    width: 310px;
    height: 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    position: relative;
}
